@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />


<address>
    Universoty of South Carolina Upstate<br />
    800 University Way<br />
    Spartanburg , SC 29303<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Darrel Scott:</strong>   <a href="mailto:descott@email.uscupstate.edu">descott@email.uscupstate.edu</a><br />
    <strong>Stefan Sternberg:</strong> <a href="mailto:stefans@email.uscupstate.edu">stefans@email.uscupstate.edu </a><br />
    <strong>Tavis Hicks:</strong> <a href="mailto:tthicks@email.uscupstate.edu ">tthicks@email.uscupstate.edu</a><br />
    <strong>Marah Rykard:</strong> <a href="mailto:rykardm@email.uscupstate.edu">rykardm@email.uscupstate.edu </a>
</address>